.section {
    display: flex;
    justify-content: space-between;
    padding: 120px 10px 30px;
    max-width: $max-width;
    margin: 0 auto;
    color: white;
    &__list {
        flex-grow: 1;
        max-width: 650px;
        padding-top: 20px;
    }
    &__recommended {
        flex-grow: 1;
        max-width: 320px;
        padding: 20px;
        padding-right: 0;
    }
    &__next-page {
        width: 100%;
        height: 50px;
        border: 2px solid $primary-color;
        color: $primary-color;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 20px;
        user-select: none;
    }
    &__pages {
        display: flex;
        margin-bottom: 20px;
    }
    &__page {
        text-align: center;
        line-height: 40px;
        border: 2px solid white;
        margin: 0 5px;
        user-select: none;
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        width: calc(100% / 7);
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &.active {
            border: 2px solid $primary-color;
            color: $primary-color;
        }
    }
}

.element {
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__author {
        display: flex;
        align-items: center;
        flex-grow: 1;
        user-select: none;
    }
    &__author-avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin-right: 5px;
        cursor: pointer;
    }
    &__author-name {
        font-size: 1.5rem;
        font-weight: 300;
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
    &__date {
        color: #bbb;
        font-size: 1.1rem;
    }
    &__title {
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 15px;
        cursor: pointer;
        display: block;
        color: white;
        text-decoration: none;
        &.single {
            cursor: default;
        }
    }
    &__content {
        position: relative;
        user-select: none;
        max-height: 2000px;
        overflow: hidden;
        img {
            width: 100%;
            cursor: pointer;
            &.single {
                cursor: default;
            }
        }
    }
    &__video-content {
        position: relative;
        user-select: none;
        max-width: 100%;
        // max-height: 300px;
        overflow: hidden;
        video {
            position: relative !important;
            max-height: 500px;
            outline: none;
            display: block;
        }
        .video-react {
            outline: none;
        }
    }
    &__content-expanded {
        max-height: none;
    }
    &__show-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 10px;
        cursor: pointer;
        font-size: 2rem;
        text-align: center;
    }
    &__actions {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
    &__summary {
        display: flex;
        font-size: 1.7rem;
    }
    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 7px 5px;
        border: 1px solid white;
        width: 50px;
        height: 35px;
        &:hover {
            border-color: #bbb;
            color: #bbb;
        }
        &.active {
            border-color: $primary-color;
            color: $primary-color;
            width: 110px;
        }
    }
    &__points {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7px 0;
        border: 1px solid white;
        height: 35px;
        width: 140px;
    }
}

.recomended {
    position: relative;
    width: 100%;
    padding-top: 56%;
    background-position: top center;
    background-size: cover;
    margin-bottom: 30px;
    &__title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 1.4rem;
        padding: 5px 10px;
        font-weight: 700;
        cursor: pointer;
    }
}

.comments {
    margin-top: 25px;
    &__add-container {
        display: flex;
        margin-bottom: 20px;
    }
    &__add-reply-container {
        display: flex;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    &__add-avatar {
        width: 65px;
        height: 65px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 15px;
    }
    &__add-avatar-small {
        width: 35px;
        height: 35px;
        margin-left: 20px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 15px;
    }
    &__add-input {
        flex-grow: 1;
        textarea {
            width: 100%;
            resize: none;
            min-height: 70px;
            height: auto;
            background-color: transparent;
            outline: none;
            color: white;
            padding: 10px;
            font-size: 1.4rem;
        }
        button {
            background-color: $primary-color;
            border: none;
            color: white;
        }
    }
    &__add-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5px 0;
        flex-wrap: wrap;
    }
    &__error {
        width: 100%;
        text-align: right;
        padding-top: 5px;
        color: red;
        font-size: 1.1rem;
    }
    &__add-button {
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 700;
        margin-right: 10px;
        padding: 7px 10px;
        user-select: none;
    }
    &__login {
        font-size: 1.5rem;
        p {
            color: $primary-color;
            text-decoration: none;
            display: inline;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.comment {
    margin-bottom: 20px;
    &__main {
        display: flex;
    }
    &__top {
        display: flex;
        width: 100%;
    }
    &__time {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #bbb;
        font-size: 1.1rem;
    }
    &__avatar {
        width: 55px;
        height: 55px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 15px;
        flex-shrink: 0;
        cursor: pointer;
    }
    &__avatar-small {
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 15px;
        flex-shrink: 0;
        margin-left: 20px;
        cursor: pointer;
    }
    &__main-items {
        padding: 3px 0;
        width: 100%;
    }
    &__user {
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 5px;
        color: white;
        text-decoration: none;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }
    &__text {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    &__summary {
        display: flex;
        font-size: 1.2rem;
    }
    &__reply {
        color: #bbb;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__actions {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
    &__points {
        padding: 4px 0;
        width: 50px;
        border: 1px solid white;
        text-align: center;
        font-weight: 700;
        margin-right: 10px;
    }
    &__plus,
    &__minus {
        cursor: pointer;
        height: 100%;
        width: 40px;
        border: 1px solid white;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            color: $primary-color;
            border-color: $primary-color;
        }
    }
    &__replies {
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        padding-bottom: 3px;
        margin-left: 25px;
    }
    &__answer {
        margin-bottom: 5px;
    }
    &__settings {
        display: flex;
        p {
            margin-right: 8px;
        }
    }
}
