.user {
    padding-top: 20px;
    &__links {
        display: flex;
        margin-bottom: 30px;
        border-bottom: 2px solid lighten($primary-color, 32%);
    }
    &__link {
        position: relative;
        display: block;
        color: lighten($primary-color, 32%);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 10px;
        cursor: pointer;
        user-select: none;
        &:first-child {
            margin-left: 0;
        }
        &.active {
            color: $primary-color;
        }
        &.active::after {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $primary-color;
        }
    }
    &__main {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin-right: 20px;
    }
    &__nick {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
    &__desc {
        font-size: 1.4rem;
        margin-bottom: 25px;
    }
    &__select {
        display: flex;
        margin-bottom: 10px;
        p {
            cursor: pointer;
            font-size: 1.4rem;
            padding: 5px 12px;
            margin: 0 5px;
            background-color: #333;
            user-select: none;
            &:first-child {
                margin-left: 0;
            }
            &.active {
                background-color: $primary-color;
            }
        }
    }
    &__items-container {
        width: 100%;
        min-height: 300px;
        background-color: #333;
    }
}
